<!DOCTYPE html>
<html>
<head>
  <title>BaconTracker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div data-yield="main"></div>

</body>
</html>
